<footer class="fixed bottom-0 text-center w-full py-4"><small class="text-gray-500">Copyright © <%- new Date().getFullYear() -%>.
  Site by <a href="https://twitter.com/monteslu" target="_blank" class="underline">@monteslu</a></footer>
<script src="/static/js/alpine.js"></script>
<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</body>

</html>