<div class="social-links">
  <a href="https://www.facebook.com/groups/bikemesa" target="_blank"><img class="brand-link" src="/img/logos/facebook.svg"/></a>
  <a href="https://www.instagram.com/bikemesaaz/" target="_blank"><img class="brand-link" src="/img/logos/instagram.svg"/></a>
  <a href="https://twitter.com/bikemesaaz" target="_blank"><img class="brand-link" src="/img/logos/twitter.svg"/></a>
  <a href="https://www.meetup.com/Bike-Mesa/" target="_blank"><img class="brand-link" src="/img/logos/meetup.svg"/></a>
</div>