<div class="social-links">
  <a href="https://www.instagram.com/bikemesaaz/" target="_blank"><img class="brand-link" src="/img/logos/instagram.svg" alt="instagram" /></a>
  <a href="https://www.facebook.com/groups/bikemesa" target="_blank"><img class="brand-link" src="/img/logos/facebook.svg" alt="facebook" /></a>
  <a href="https://discord.gg/pBxUSTvfs8" target="_blank"><img class="brand-link" src="/img/logos/discord.svg" alt="discord" /></a>
  <a href="https://twitter.com/bikemesaaz" target="_blank"><img class="brand-link" src="/img/logos/twitter.svg" alt="twitter" /></a>
  <a href="https://urbanists.social/@bikemesa" target="_blank"><img class="brand-link" src="/img/logos/mastodon.svg" alt="mastodon" /></a>
  <a href="https://www.meetup.com/Bike-Mesa/" target="_blank"><img class="brand-link" src="/img/logos/meetup.svg" alt="meetup" /></a>
</div>