<%#
  {
    "type": "blog",
    "date": "2022-02-08",
    "title": "Downtown Mesa pub crawls"
  }
%>
<%- include(partials + 'header.ejs', {config}) -%>
<div class="container mx-auto lg:h-screen flex flex-col justify-center items-center">
  <h1>Downtown Mesa bike pub crawls</h1>

  
  <div style="margin: 15px;">
    stuff.  things
  </div>
</div>
<%- include(partials + 'social.ejs', {config}) -%>
<%- include(partials + 'footer.ejs', {config}) -%>