<%- include(partials + 'header.ejs', {config}) -%>
<div class="container mx-auto lg:h-screen flex flex-col justify-center items-center">
  <h1>about us</h1>


<%- include(partials + 'social.ejs', {config}) -%>
<%- include(partials + 'footer.ejs', {config}) -%>