<%# 
  {
    "type": "page"
  }
%><%- include(partials + 'header.ejs', {config}) -%>
<div class="container mx-auto lg:h-screen flex flex-col justify-center items-center">
  <h1>Bike Mesa</h1>

  <%- include(partials + 'social.ejs', {config}) -%>
  <img class="ride-banner" src="/img/bikemesaride.webp" alt="bike mesa ride">

  <div style="margin: 15px;">
    We're working to make bicycling a prominent, safe, and convenient form of transportation and recreation in Mesa, Arizona and surrounding areas through education, grassroots events, and civic participation.
  </div>
</div>

<%- include(partials + 'footer.ejs', {config}) -%>